#attachment-link input.error {
	color: #cd0a0a;
}
#attachments-list .attachment {
	margin-left: 30px;
	padding: 3px 8px;
	display: block;
	font-style: italic;
}

#file-browser-files {
	padding-top: 47px;
}
#file-browser-files .file_preview {
	display: inline-block !important;
	width: 64px;
	height: 64px;
	margin-top: -16px;
}
#file-browser-files .file_preview.lock {
	background: transparent url(../../../themes/admin_theme/img/admin/icons/16/lock.png) no-repeat 50% 50%;
}
#file-browser-files .file_preview.unlock {
	background: transparent url(../../../themes/admin_theme/img/admin/icons/16/lock-unlock.png) no-repeat 50% 50%;
}
#file-browser-files .file_preview.loading {
	background: transparent url(../../../themes/admin_theme/img/admin/loading.gif) no-repeat 50% 50%;
}
#file-browser-files .file_preview a {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#file-browser-files .file_preview a img {
	display: none !important;
}
/*#file-browser-files .button-icons {
	margin-top: -56px;
}*/